<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://cdn.tiny.cloud/1/{enter key here}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: '#messageBody',
          plugins: 'code',
          menubar: 'file edit format tools '
        });
    </script>

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Blog Post</h1>
                <p>for testing XSS (Cross Site Scripting)</p>
                <strong style="color: red">ID den Lernenden verteilt</strong>
                <p>https://www.baeldung.com/spring-boot-logging</p>

                <form action="#" th:action="@{/wysiwyg/addPost}" th:object="${blogPost}" method="post">
                    <label>Title:</label><br />
                    <input type="text" th:field="*{title}" style="width:100%"/>
                    <label>Message:</label><br />
                    <textarea id="messageBody" th:field="*{message}" style="width:100%; height:300px"></textarea>

                    <p><input type="submit" value="Submit"/></p>
                    <br/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>Output</h2>
                <div th:each="bp : ${blogPosts}" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><span th:utext="${bp.title}"></span>
                            <small><br/>not escaped</small>
                        </h5>
                        <p th:utext="${bp.message}" class="card-text"></p>
                        <br/>

                        <h5 class="card-title"><span th:text="${bp.title}"></span>
                            <small><br/>escaped</small>
                        </h5>
                        <p th:text="${bp.message}" class="card-text"></p>
                    </div>
                </div>

                <br />
                <a href="/">&larr; back</a>
            </div>
        </div>
    </div>
</body>
</html>